name "tianguis"
kind "library"
src_dir "src"

cas {
    dir ".milpa/cas"
}

deps {
    kdl git=(url)"ssh://git@github.com/coreyleavitt/nimkdl.git" ref="main"
    nimcrypto git=(url)"https://github.com/cheatfate/nimcrypto.git" ref="master"
}
